$primary-color: #f16667;
$primary-hover: #535353;
$body-bg:#EFEDEA;

body {
  background-color: $body-bg;
}
.App {
  text-align: center;
}
.App-header {
  background-color: $primary-color;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  margin-top: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
