body {
  background-color: #EFEDEA; }

.App {
  text-align: center; }

.App-header {
  background-color: #f16667;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left; }

.App-title {
  font-size: 1.5em;
  margin-top: 20px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.file-upload-component .drag-drop-area {
  width: 25%;
  height: 170px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer; }
  .file-upload-component .drag-drop-area.upload {
    cursor: auto; }
  .file-upload-component .drag-drop-area .place-holder {
    margin: 46px auto 0px; }

.selected-file-name {
  margin: 43px auto 16px; }
  .selected-file-name strong {
    display: inline-block; }
  .selected-file-name > div {
    display: inline-block; }
    .selected-file-name > div > a > span {
      font-size: 15px !important;
      margin-left: 10px; }

.display-upload-file {
  display: inline-block;
  margin-left: 20px; }

.paper {
  width: 80%;
  margin: 50px auto; }
  .paper .MuiPaper-root-24 {
    padding: 30px; }
  .paper h2 {
    padding-top: 30px; }
  .paper .panel-details {
    margin-left: 53px; }
    .paper .panel-details > span {
      font-size: 0.85rem; }
      .paper .panel-details > span span {
        color: #f16667;
        font-weight: bolder; }
    .paper .panel-details > div {
      text-align: left;
      margin-left: -24px; }
      .paper .panel-details > div > button {
        color: #f16667;
        font-size: 0.72rem;
        text-decoration: underline;
        font-weight: bolder; }
    .paper .panel-details > .more-info-container > .graph {
      display: inline-block;
      width: 60%;
      float: right;
      padding-top: 25px; }
      .paper .panel-details > .more-info-container > .graph > .sub-header {
        margin: 2px 0px 28px 31px;
        text-decoration: underline; }
      .paper .panel-details > .more-info-container > .graph > .recharts-wrapper .recharts-text.recharts-label > tspan {
        stroke: #000;
        fill: #fff; }
    .paper .panel-details > .more-info-container > .badge {
      display: inline-block;
      margin: 30px 27px 26px -6px;
      width: 35%;
      float: left; }
      .paper .panel-details > .more-info-container > .badge > .sub-header {
        margin: 2px 0px 28px 31px;
        text-decoration: underline; }
      .paper .panel-details > .more-info-container > .badge > span p {
        font-size: 0.75rem; }
      .paper .panel-details > .more-info-container > .badge > span > span:last-child {
        background-color: #f16667;
        color: #fff;
        top: -11px;
        width: 19px;
        right: -4px;
        height: 19px; }

.display-upload-container button {
  color: white;
  background-color: #f16667; }
  .display-upload-container button:hover {
    background-color: #535353; }

.MuiCircularProgress-colorPrimary-27 {
  color: #f16667 !important; }
