body {
  background-color: #EFEDEA; }

.App {
  text-align: center; }

.App-header {
  background-color: #f16667;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left; }

.App-title {
  font-size: 1.5em;
  margin-top: 20px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.overlay {
  margin-top: 50px; }
  .overlay > div {
    color: #f16667; }
